@import "tailwindcss";

:root {
  --background: #D9F0FF;
  --primary: #F0A543;
  --secondary: #F8D1A4;
}

@font-face {
  font-family: 'Kodomo';
  src: url('/fonts/KodomoRounded.otf') format('opentype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D9F0FF;
    --primary: #F0A543;;
  }
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: Kodomo;
  scrollbar-width: none;
  overflow: hidden
}


::-webkit-scrollbar {
  display: none;
}